* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAF9;
    font-family: Sora;
}

.main {
    background: #FFFFFF;
    width: 23em;
    height: 24.875em;
    margin: 10.25em auto auto auto;
    border-radius: 1em;
    padding: 1em 0.938em;
    display: flex;
    flex-direction: column;
    gap: 0.813em;
}


img {
    display: block;
    width: 21em;
    height: auto;
    border-radius: 0.5em;
    margin-right: auto;
    margin-left: auto;
}

.design {
    background: #E6D6FC;
    color: #883AE1;
    border-radius: 1em;
    width: 6em;
    padding: 0.188em 0.125em;
    text-align: center;
    font-weight: bold;
    font-size: 0.625rem;
}

.heading {
    color: #20293A;
    font-size: 1.125rem;
}

.para {
    color: #6C727F;
    border-bottom: 2px solid #E5EAF0;
    padding-bottom: 1.25em;
    font-size: 0.875rem;
    line-height: 1.6em;
}

.author {
    color: #6C727F;
    padding-top: 10px;
    font-size: 0.75rem;
}